.reloj-palabras-container {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  padding: 2.2rem; 
  max-width: 420px;
  background-color: rgba(255, 255, 255, 0.95); 
  border-radius: 15px; 
  box-shadow: 0 8px 20px rgba(138, 43, 226, 0.2); 
  border: 1px solid rgba(138, 43, 226, 0.3); 
}

h1 {
  font-size: 2.2rem; 
  margin-bottom: 1.5rem;
  color: #8A2BE2; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.time-text {
  font-size: 1.8rem; 
  margin-bottom: 1.5rem;
  color: #4B0082; 
  font-weight: bold;
  background-color: #F8F0FF; 
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(138, 43, 226, 0.1); 
}

label {
  display: block;
  margin: 1.5rem 0 0.8rem; 
  font-size: 1.1rem;
  color: #BA55D3; 
}

input[type='time'] {
  padding: 8px 12px; 
  font-size: 1.1rem;
  border: 2px solid #DDA0DD;
  border-radius: 8px; 
  text-align: center;
  color: #4B0082; 
  background-color: #F8F8FF;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type='time']:focus {
  border-color: #9932CC; 
  box-shadow: 0 0 8px rgba(138, 43, 226, 0.5); 
}